<!-- start of WebThumb ver.{VERSION} objNr.{webthumb_count} -->
<!-- {webthumb_debug} -->
    <div id="webthumb-box-{webthumb_count}">
      <div class="webthumb-box" onclick="window.open('{url}');" title="{url}">
        <div class="webthumb-top">{label}</div>
        <div class="webthumb-img">
          <img id="webthumb-{webthumb_count}" onmouseover="{onmouseover}" onmouseout="{onmouseout}" src="{filename}" alt="{filename}" width="160px" />
        </div>
        <div class="webthumb-bot">{urlbot}</div>
      </div>
    </div>
<!-- end of WebThumb -->
